#recommend-channel-section {
    height: 200px;
}
.medium-channel-item{
    position: relative;
    float: left;
    height: 170px;
    border: 0.5px solid #2d2d2d;
    margin-right: 15px;
}

.container-genre{
    position: relative;
    float: left;
    height: 110px;
    margin-right: 15px;
    border: 0.5px solid #2d2d2d;
}
.img-genre{ 
    opacity: 0.4;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    height: 26px;
    font-family: "Proxima Nova Rg Regular", sans-serif;
    text-transform: uppercase;
    color: #f1f1f1;
    font-weight: bold;
}
.category-section {
    height: 130px;
}
.group-category-title {
    padding-left: 40px;
    color: #7b7b7b;
    font-size: 22px;
    font-family: "Proxima Nova Rg Regular", sans-serif;
}

.second-level {
    display: none;
    overflow: hidden;
    height: 625px;
}
.dropdown-group{
    display: inline;
    padding-top: 20px;
    padding-left: 60px;
    position: relative;
}

#result-channel {
    width: 105%;
    height: 578px;
}

.dropdown-filter{
    width: 150px;
    font-size: 17px;
    line-height: 1;
    border: none;
    color: #CBCBCB;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("../img/down-arrow.png") no-repeat right;
    outline: none;
    padding-left: 5px;
    font-family: "Proxima Nova Rg Regular", sans-serif;
}
.title-filter{
    width: 200px;
    font-size: 18px;
    line-height: 1;
    border: none;
    border-bottom: 1px solid #CBCBCB;
    border-radius: 0;
    height: 24px;
    color: #CBCBCB;
    display: inline-block;
    text-align: left;
    margin: 10px 10px 10px 10px;
    font-family: "Proxima Nova Rg Regular", sans-serif;
}
.title-sort{
  width: 200px;
  font-size: 18px;
  line-height: 1;
  border: none;
  border-bottom: 1px solid #CBCBCB;
  border-radius: 0;
  height: 24px;
  color: #CBCBCB;
  display: inline-block;
  text-align: left;
  margin: 10px 10px 10px 10px;
}
.dropdown-sort{
  width: 150px;
  font-size: 17px;
  line-height: 1;
  border: none;
  color: #CBCBCB;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url("../img/down-arrow.png") no-repeat right;
  outline: none;
  padding-left: 5px;
}

#list-channel-section {
    padding: 20px 60px 20px 60px;
}
#list-channel-section > div {
    height: 150px;
    padding-left: 10px;
}

#list-channel-section .medium-channel-item {
    width: 210px;
    height: 120px;
    position: relative;
    text-align: center;
    background-color: #202020;
}

#list-channel-section .medium-channel-item:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 110px;
}

#list-channel-section .medium-channel-item img {
    vertical-align: middle;
    display: inline-block;
}

#channel-detail-section .channel-logo:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 110px;
}
#channel-detail-section .channel-logo {
  display: inline-block;
  width: 210px;
  height: 110px;
  text-align: center;
  background-color: #202020;
  float:left;
}

#channel-detail-section .channel-logo img {
  vertical-align: middle;
  display: inline-block;
}
 .channel-detail{
  padding-top: 20px;
  padding-left: 70px;
  position: relative;
  display: inline-block;
 }
.channel-logo{
  position: relative;
  width: 290px;
  height: 170px;
  display: inline-block;
  background-color: #202020;
  border: 0.5px solid #2d2d2d;
  margin-right: 15px;
}
.description-channel{
  color: white;
  width: 650px;
  padding-left: 250px;

}
.title{
  font-family: "Proxima Nova Rg Regular", sans-serif;
  color: #bbbbbb;
  font-size: 30px;
  padding-bottom: 10px;
}
.type{
  font-family: "Proxima Nova Rg Regular", sans-serif;
  color: #bbbbbb;
  font-size: 18px;
  padding-bottom: 10px;
}

.desctiption{
  font-family: "Proxima Nova Rg Regular", sans-serif;
  color: #bbbbbb;
  font-size: 18px;
  padding-bottom: 10px;
  line-height: 150%;
}
#detail-channel {
    height: 625px;
}
#list-video {
    margin-top: 40px;
    height: 450px;
    overflow: hidden;
}
#list-video-section > div {
    height: 150px;
    padding-left: 70px;
    margin-bottom: 35px;
}
#video-container {
    padding-left: 70px;
}
.medium-video-item {
    float: left;
    margin-right: 15px;
    border: 1px solid #2d2d2d;
    position: relative;
}