#main-wrapper {
    position: fixed;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    background: #121212; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #121212 , #191919); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #121212 , #191919); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #121212 , #191919); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #121212 , #191919); /* Standard syntax (must be last) */
}

.header {
    height: 45px;
    padding: 50px 0 0 50px;
}
.header img {
    float: left;
}
.header .seperate {
    height: 30px;
    width: 270px;
    background-image: url("../img/seperate.png");
    background-repeat: no-repeat;
    display: inline-block;
    font-family: "Proxima Nova Rg Regular", sans-serif;
    margin: 0 10px;
    color: #bbbbbb;
    font-size: 30px;
    padding-left: 10px;
}


#left-navigation {
    position: fixed;
    width: 220px;
    left: 0;
    padding-left: 50px;
    top: 110px;
    min-height: 600px;
    z-index: 1000;
    transition: width 1s;
    -o-transition: width 1s;
}
.left-background {
    position: fixed;
    width: 220px;
    left: 0;
    padding-left: 50px;
    top: 110px;
    min-height: 600px;
    z-index: 999;
    background: #131313;
    opacity: 0.7;
    transition: width 0.5s;
    -o-transition: width 0.5s;
}

.image-button{
    height: 45px;
    width: 215px;
    color: #ccc;
    font-family: "Proxima Nova Rg Regular", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;
}
.menu-min .image-button{
    height: 45px;
    width: 64px;
    color: #ccc;
    font-family: "Proxima Nova Rg Regular", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;
}

.image-button:hover, .image-button.focused, .image-button.active{
    background-color: #125c7f;
    border: 1px solid #2b5162;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
}

.menu-min .image-button:hover, .menu-min .image-button.focused, .menu-min .image-button.active{
    background-color: #303030;
    border: 1px solid #303030;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

.image-button img {
    float: left;
    clear: left;
    padding: 6px 6px 6px 15px;
}
#menu-channel img {
    padding-top: 10px;
}
.image-button .image-text {
    line-height: 45px;
    padding-left: 55px;
}

.menu-min .image-text {
    visibility: hidden;
}
#right-content {
    width: 1300px;
    position: relative;
    padding-left: 270px;
    height: 625px;
    color: #ededed;
    transition: padding-left 0.5s;
    -o-transition: padding-left 0.5s;
    overflow: hidden;
}

.first-level {
    width: 200%;
    height: 150%;
}

#recommend-section {
    height: 250px;
}

#best-of-web-section ,
#trending-topic-section,
#what-new-for-you-section,
#your-favorite-video-section,
#recently-watched-section,
#your-favorite-channel-section,
#related-video-section{
    height: 180px;
}
#popular-channel-section {
    height: 150px;
}

#favorite-page, #channel-page, #search-page, #video-player, #detail-channel {
    display: none;
}


.carousel-container {
    width: 200%;
    position: absolute;
    transition: left 1s;
    -webkit-transition: left 0.2s;
}

.array-container {
    width: 100%;
    position: relative;
}

.carousel-section {
    padding-top: 20px;
    padding-left: 40px;
    position: relative; 
}

.carousel {
    clear: left;
    float: left;
    overflow: hidden;
}
.big-carousel-item {
    position: relative;
    float: left;
    margin-right: 25px;
    border: 0.5px solid #2f2b45;
}
.medium-carousel-item {
    position: relative;
    float: left;
    margin-right: 15px;
    border: 0.5px solid #2d2d2d;
}
.small-carousel-item {
    position: relative;
    float: left;
    margin-right: 15px;
    border: 0.5px solid #2f2b45;
}

.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(64,64,64,0) 0%, rgba(64,64,64,0) 20%, rgba(14,14,14,14) 90%, rgba(14,14,14,14) 100%);
    background: -moz-linear-gradient(to bottom, rgba(64,64,64,0) 0%, rgba(64,64,64,0) 20%, rgba(14,14,14,14) 90%, rgba(14,14,14,14) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(64,64,64,0) 0%, rgba(64,64,64,0) 20%, rgba(14,14,14,14) 90%, rgba(14,14,14,14) 100%);
    background: -o-linear-gradient(to bottom, rgba(64,64,64,0) 0%, rgba(64,64,64,0) 20%, rgba(14,14,14,14) 90%, rgba(14,14,14,14) 100%);
        );
}

.item-overlay-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.title-content {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}

.medium-title-content {
    text-align: left;
    color: #fff;
    font-size: 15px;
    width: 80%;
    padding-left: 10px;
    margin-bottom: 10px;
}

.big-title {
    height: 26px;
    font-family: "Proxima Nova Rg Regular", sans-serif;
    text-transform: uppercase;
}

.medium-title {
    height: 20px;
    font-family: "Proxima Nova Rg Regular", sans-serif;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.big-sub-title {
    height: 30px;
    font-family: "Proxima Nova Rg Regular", sans-serif;
}

.medium-sub-title {
    height: 15px;
    color: #7b7b7b;
    font-family: "Proxima Nova Rg Regular", sans-serif;
}

.carousel-title {
    color: #939393;
    padding-bottom: 15px;
    font-size: 20px;
    font-family: "Proxima Nova Rg Regular", sans-serif;
}
#popular-channel-section .medium-carousel-item:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 110px;
}
#popular-channel-section .medium-carousel-item {
    width: 210px;
    height: 110px;
    text-align: center;
    background-color: #202020;
}

#popular-channel-section .medium-carousel-item img {
    vertical-align: middle;
    display: inline-block;
}

.select-rect {
    display: none;
    position: absolute;
    border: 4px solid #0389bc;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(8,211,247,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(8,211,247,1);
    box-shadow: 0px 0px 20px 0px rgba(8,211,247,1);
}
dialog {
    width: 1241px;
    height: 681px;
    background: #000;
}
.dialog-body {
    width: 500px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -250px;
}
.content-message {
    height: 50%;
    font-family: "Proxima Nova Rg Regular", sans-serif;
    color: #f1f1f1;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.button-row {
    height: 50px;
}

.button-row button {
    width: 100%;
    height: 100%;
    font-size: 30px;
    border: 2px solid #f1f1f1;
    background: transparent;
    color: #f1f1f1;
    border-left: none;
    border-right: none;
}
