/* Player control */
#video-player {
    background: #000;
    position: fixed;
    width: 1280px;
    height: 720px;
    top: 0;
    left: 0;
    z-index: 1001;
}
.player-ratio-in {
    width: 100%;
    height: 100%
}

/* Player control */
.player-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.player-wrapper .player-control {
    position: absolute;
    height: 32px;
    width: 70%;
    margin: 5px 0px 0px -35%;
    left: 50%;
    bottom: 10%;
}

.player-control > * {
    float: left;
}

.player-control .play {
    width: 8%;
}

/* Play/pause button */
#play {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0 none;
}

#play:before {
    content: '';
    background-image: url("../img/player/pause.png");
    background-size: 27px 27px;
    background-repeat: no-repeat;
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
}

#play:checked:before {
    background-image: url('../img/player/play.png');
}

#play:hover {
    cursor: pointer;
}

/* Guide */
.guide {
    position: absolute;
    top: 20px;
    right: 75px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    color: #787878;
    font-size: 20px;
    display: none;
}

.guide .button-red {
    content: '';
    width: 17px;
    height: 17px;
    background: linear-gradient(rgb(223,3,29), rgb(95,4,1));
    display: inline-block;
    border-radius: 50px;
}

#related-video-section {
    display: none;
    padding: 70px 0 0 70px;
}

/* Seek bar */
.meter {
    height: 14px;  /* Can be anything */
    width: 86%;
    position: relative;
    background: #555;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 2px 5px 5px 2px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    margin: 7px 0px 0px 40px;
}

.meter > span {
    display: block;
    height: 100%;
    border-radius: 2px 0px 0px 2px;
    background: linear-gradient(rgb(108,204,227), rgb(2,89,160));
    box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

#current-time {
    width: 65px;
    margin-left: 20px;
    font-size: 1.5em;
    color: white;
}

/* Information */
.information {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    position: absolute;
    bottom: 20px;
    margin-left: 15%;
}

.information .mov-title {
    color: white;
    font-size: 24px;
}

.information .mov-desc {
    color: #787878;
    font-size: 18px;
}

.player-wrapper:hover {
    opacity: 1.0;
}

.player-wrapper.active {
    opacity: 1.0;
    background: linear-gradient(to bottom, rgba(14,14,14,14) 0%, rgb(35, 34, 34) 10%, rgba(0,0,0,0) 30%,rgba(0,0,0,0) 70%, rgba(14,14,14,14) 90%, rgba(14,14,14,14) 100%);
    background: -moz-linear-gradient(to bottom, rgba(14,14,14,14) 0%, rgb(35, 34, 34) 10%, rgba(0,0,0,0) 30%,rgba(0,0,0,0) 70%, rgba(14,14,14,14) 90%, rgba(14,14,14,14) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(14,14,14,14) 0%, rgb(35, 34, 34) 10%, rgba(0,0,0,0) 30%,rgba(0,0,0,0) 70%, rgba(14,14,14,14) 90%, rgba(14,14,14,14) 100%);
    background: -o-linear-gradient(to bottom, rgba(14,14,14,14) 0%, rgb(35, 34, 34) 10%, rgba(0,0,0,0) 30%,rgba(0,0,0,0) 70%, rgba(14,14,14,14) 90%, rgba(14,14,14,14) 100%);
}

.player-wrapper.active #related-video-section, .player-wrapper.active .guide {
    display: block;
}

.buttons {
    margin-top: 50px;
    clear: left;
}